body {
    background-color: darkslategrey;

}

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}


.aboutText{
    display: flex;
    justify-content: center;
    color: lightgrey;
}

Ul.aboutText{
    justify-content: space-around;
    color: lightgrey;
}

