html,body{
    color: white;
    margin: 0%;
    text-align: center;
    background-color: dodgerblue;
}

li{
    display: inline;

}

.btn{
    text-align: center;
}


#footer {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

#mid{

}