body{
    color: white;
    margin: 0%;
    text-align: center;
    background-color: dodgerblue;
}

li{
    display: inline;

}

#topbar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;

}


#footer {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

#mid{

}