.p {
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: black; }
    25% { color: skyblue; }
    50% { color: dodgerblue; }
    75% { color: blue; }
    100% { color: darkblue; }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;

}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
