@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 25px;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.box {
    height: 200px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box div {
    display: flex;
    justify-content: center;

}

#projects{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-self: center;

}


#projects{
    margin: auto;
    font-size: large;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    font-size: 16px;
    justify-content: space-around;
}